<template name="PassCode">

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Por favor ingrese el codigo</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Te enviamos un codigo a tu celular - {{ user }}</label>
                                <input type="text" name='code' placeholder="1234" title="Por favor ingresa el codigo" class="form-control">
                                {{#if ButtonCode}}
                                    <br>
                                    <button type='submit' class="btn btn-success btn-block">Login</button>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>