<template name="SideNav">
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="#">
                    <img src="/images/home-avatar.png" class="img-circle m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">{{currentUser.profile.name}}</span>
                </div>
            </div>

            <ul class="nav" id="side-menu">
                <li class="active">
                    <a href="home"> <span class="nav-label">Actividad</span></a>
                </li>
                <li>
                    <a href="profile"> <span class="nav-label">Perfil</span></a>
                </li>
                <li>
                    <a href="walletsend"> <span class="nav-label">Enviar</span></a>
                </li>
            </ul>
        </div>
    </aside>
</template>