<template name="Profile">
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <div class="hpanel horange">
                        <form action='' method=''>
                            <div class="panel-body col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputPassword1" value="{{person.email}}" name='email'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Phone</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{person.phone}}" name='phone'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" value="{{person.firstname}}" name='firstname'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" value="{{person.lastname}}" name='lastname'>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="panel-body col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{person.address1}}" name='address'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">City</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{person.city}}" name='city'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Country</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{person.country}}" name='country'>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Photo</label>
                                    <input type="file" name="" class="file">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>