<template name="WalletTimeline">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="v-timeline vertical-container">
                         <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-reply"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> 1.1.2016 <br/> <small>12:17:43 PM</small> </span>
                                    <h2> X pido lukas a Y</h2>
                                    <p>pagar por cerveza
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right"> 1.1.2016 <br/> <small>3:17:43 PM</small> </span>
                                    <h2> Y pago lukas a X</h2>
                                    <p>pagar por cerveza
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>